*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .table{
  border-collapse: collapse;
  text-align: center;
   width: 300px;
  margin: 10px auto;
  height: auto;
  height: 333px;
}

.text-input{
  border: none;
  text-align: right;
  font-size: 25px;
  background-color: greenyellow;
  color: wheat;
  height: 100px;
}

.red-operators {
  background-color: red;
  color: white;
}
